
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="contanier">
        <div class="content">
            <div class="div-text">
                <span>outfit of the day</span>
                <h3>all your</h3>
                <h1>styles are here</h1>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>
                    Doloremque unde sunt eum illum ab tempora illo iure sequi <br> minus culpa.
                </p>
                <a href="#" class="btn">buy now</a>
            </div>
            <div class="div-img">
                <img id="big-img" src="jacket1.png" alt="">
            </div>
            <div class="small-img">
                <img onclick="myTshirt(this.src)" src="img/jacket1.png" alt="">
                <img onclick="myTshirt(this.src)" src="img/jacket2.png" alt="">
                <img onclick="myTshirt(this.src)" src="img/jacket3.png" alt="">
            </div>
        </div>
    </div>
   
</body>
</html>
